server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /home/miko/LAB/ai/backend/ai-backend-unified/monitoring/loki/data/positions.yaml

clients:
  - url: http://localhost:3100/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*.log